@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primaryColor: #232323;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    overflow-x: hidden;
}

.container,
.login-container {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.85s ease-in-out;
}

.login-container.active,
.container.active {
    transform: translateX(0);
    opacity: 1;
}

.left {
    background-image: url(./img/image\ 53.png);
    width: 50%;
    height: 100vh;
    padding: 64px;

    div {
        /* From https://css.glass */
        background: rgba(35, 35, 35, 0.21);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(35, 35, 35, 0.3);
        width: 100%;
        height: 100%;
        position: relative;
    }

    div:before {
        content: '';
        position: absolute;
        top: 128px;
        left: 64px;
        width: 10%;
        height: 2px;
        background-color: white;
    }

    div:after {
        content: '';
        position: absolute;
        bottom: 128px;
        right: 64px;
        width: 10%;
        height: 2px;
        background-color: white;
    }

}

@media only screen and (max-width:991px) {
    .left {
        display: none;
    }

    .right {
        width: 100% !important;
    }

    .right>div {
        padding: 128px !important;
    }
}

.right {
    width: 35%;
}

.right>div {
    padding: 128px 0px 0px 128px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
}

.right form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right label {
    font-weight: 700;
    font-size: 14px;
}

.right input {
    all: unset;
    width: 100%;
}

.right input::placeholder {
    color: rgba(105, 105, 105, 0.298);
}

.right .input-container {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid rgba(105, 105, 105, 0.298);
    border-radius: 4px;
    padding: 8px 16px;
    color: rgba(105, 105, 105, 0.298);

    input {
        color: var(--primaryColor);
    }
}

#password+span,
#password-confirm+span {
    cursor: pointer;
}

.right form button,
.right button {
    width: 100%;
    height: 44px;
    font-size: 18px;
    background-color: var(--primaryColor);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}

.right button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.right button>span {
    color: rgba(255, 255, 255, 0.778);
}

.change {
    align-self: center;
    font-size: 12px;

    a {
        text-decoration: none;
        color: rgb(19, 125, 255);
    }

    a:before {
        content: 'â—';
        margin-right: 4px;
    }
}

.right .footer {
    display: flex;
    align-self: center;
    position: absolute;
    bottom: 16px;
    gap: 16px;
    font-size: 12px;
}

.right .footer a {
    color: var(--primaryColor);
    text-decoration: none;
}

.login-container {}

.login-container .right .forgot {
    display: flex;
    justify-content: space-between;
}

.login-container .right .forgot>a {
    color: var(--primaryColor);
    font-size: 12px;
}

.login-container .or {
    position: relative;
    display: flex;
    justify-content: center;
    height: 64px;
    align-items: center;
}

.login-container .or::before {
    content: '';
    position: absolute;
    top: 31px;
    /* right: 50px; */
    margin-right: 145px;
    width: 72px;
    height: 2px;
    background-color: rgba(105, 105, 105, 0.298);
}

.login-container .or::after {
    content: '';
    position: absolute;
    top: 31px;
    /* left: 50px; */
    margin-left: 145px;
    width: 72px;
    height: 2px;
    background-color: rgba(105, 105, 105, 0.298);
}